/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&family=Freehand&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');
/*index*/


/*Home usuario*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&family=Freehand&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');

body{
  background-color: #F4E5CB;
}


.fraseHead{
    margin-left: 27px;
    margin-right: 0%;
}

.divBotoes{
    display: flex;
}

.navCadastro{
    align-items: center;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    background-color: #60E1E0;
}

.navCadastro img{
    width: 400px;
    height: 100px;
}

.bodyCadastro img{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 130px;   
}

.opcaoNavCadastro{
    margin-top: 10px;
    margin-right: 320px;
    display: flex;
}


/*eventos*/ 

.navEventos{
  display: flex;
  width: 200px;
  height: 200px;
}


.barraEventos{
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputEventos{
  width: 600px;
  height: 40px;
  padding-left: 15px; 
  border-radius: 8px;
  font-size: 20px;
  margin-top: 20px;
  border: 0; /*eliminando a borda extra da barra*/
}

.eventosSearchButton{
  border-radius: 8px;
  font-size: 20px; 
  border: 0;
  margin-top: 20px;
  background-color: #60E1E0;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  color: #002D4C;
  cursor: pointer;
  width: 157px;
  height: 36px;
}

.eventosButtonArea{
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.filtrosEventos{
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  margin-top: 25px;
}

.infoEventoArea{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.infoEvento{
  display: flex;
  width: 80%;
  border-top: 2px solid black;
  margin-bottom: 100px;
}

.eventoImg{
  width: 450px;
  height: 350px;
  margin-left: 200px;
  margin-top: 40px;
  border-radius: 50px;
}
.liEvento{
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  margin-top: 80px;
  margin-left: 30px;
  font-family: 'Fredoka', sans-serif;
  padding-left: 0;
}


.liEvento2{
  font-size: 15pt;
  margin-top: 40px;
  font-family: 'Fredoka', sans-serif;
}